# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment / secrets
.env
.env.*

# Node
node_modules/

# Frontend builds
dist/
build/

# Editors / OS
.vscode/
.idea/
*.swp
.DS_Store

# Prototypes 

./prototypes/*
